@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove default outline from all inputs */
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Optional: Add custom focus styles */
input:focus,
textarea:focus {
  border-color: #be3fd5 !important;
}
