@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove default outline from all inputs */
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Optional: Add custom focus styles */
input:focus,
textarea:focus {
  border-color: #be3fd5 !important;
}

/* Custom scrollbar styles */
.right-sidebar::-webkit-scrollbar {
  width: 8px;
}

.right-sidebar::-webkit-scrollbar-track {
  background: #1f2937; /* Dark background */
}

.right-sidebar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Gray thumb */
  border-radius: 10px;
  border: 2px solid #1f2937; /* Padding around thumb */
}

.right-sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748; /* Lighter gray on hover */
}
